<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-text">01</i>
                    </div>
                    <div class="card-content">

                        <h3 class="title">Employee</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">expand_more</i> <a href="#employee">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-text">06</i>
                    </div>
                    <div class="card-content">
                        <h3 class="title">Customers</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">expand_more</i> <a href="#customers">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-text">06</i>
                    </div>
                    <div class="card-content">
                        <h3 class="title">Projects</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">expand_more</i> <a href="#employee">View More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-text">07</i>
                    </div>
                    <div class="card-content">
                        <h3 class="title">Joining This Month</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">expand_more</i> <a href="#joining">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-text">05</i>
                    </div>
                    <div class="card-content">

                        <h3 class="title">Pending Approvals </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">expand_more</i> <a href="#employee">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-text">13</i>
                    </div>

                    <div class="card-content">
                        <h3 class="title">Appraisal Due </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">expand_more</i> <a href="#customers">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="black">
                        <i class="material-text">12</i>
                    </div>
                    <div class="card-content">
                        <h3 class="title">Expenses</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">expand_more</i> <a href="#employee">View More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="purple">
                        <i class="material-text">15</i>
                    </div>

                    <div class="card-content">
                        <h3 class="title">Exits This Month</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">expand_more</i> <a href="#joining">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>