<div class="sidebar-wrapper">
    <form class="navbar-form navbar-right">
        <div class="form-group form-black is-empty">
            <input type="text" class="form-control" placeholder="Search">
            <span class="material-input"></span>
        </div>
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i><div class="ripple-container"></div>
        </button>
    </form>
    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active" class="active">
                <a href="#">Dashboard
<i class="material-icons">dashboard</i>
                </a>
            </li>
            <li><a href="leave">Leave
<i class="material-icons">stop</i>
            </a></li>
            <li>
                <a href="employee">Employee
<i class="material-icons">group</i>
                </a>
            </li>
            <li>
                <a href="#">User Roles
<i class="material-icons">person</i>
                </a>
            </li>
            <li>
                <a href="#">Reports
<i class="material-icons">library_books</i>
                </a>
            </li>
            <li>
                <a href="#">Projects
<i class="material-icons">library_books</i>
                </a>
            </li>
            <li>
                <a href="#">Masters
<i class="material-icons">apps</i>
                </a>
            </li>
            <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <a [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>-->
        </ul>
    </div>
</div>